<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="header">
		<div class="container-fluid">
		    <div class="navbar-header" style="margin-left:0px">
		      <a class="navbar-brand" href="http://localhost/" style="padding:5px 0px">
		      	<img src="images/logo.jpg" alt="HOME"  title="Home Demo" height="40px" /></a>
		      <span class="navbar-brand" id="appTitle" >Spring Boot-2, VueJS-2, BootStrap-4 Example</span>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav">
			      </ul>
			</div>	
		</div>	
	</div>
</body>

</html>