<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Spring Boot-2, VueJS-2, BootStrap-4 Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/dialog.css}">
	</head>

	<body>
		<nav class="navbar navbar-dark bg-dark navbar-fixed-top" style="padding:0">
			<!-- import navbar header -->
			<div th:replace="header :: header"></div>
		</nav>
		
		<!-- main content -->
		<div id="app" class="container-fluid" >
			<div style="height: 13px"></div>
			<div class="row">
				<div class="col">
					<button type="button" class="btn  btn-success3" 
						@click="showModal = true">Start Dialog</button>
					  <modal v-if="showModal" @close="showModal = false">
    					<!--
      	you can use custom content here to overwrite
      default content
    -->
    					<h3 slot="header">custom header</h3>
  					</modal>	
				</div>
				
			</div>
			<div style="height: 13px"></div>
		</div>
		
		<!-- modal dialog -->
		<script type="text/x-template" id="modal-template">
		  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              default footer
              <button class="modal-default-button" @click="$emit('close')">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>
		<!-- importing 3rd-party Javascript library -->
		<div th:replace="jsimport :: imports"></div>
		<!-- importing Javascript code -->
		<script type="text/javascript" th:src="@{/js/src/home.js}"></script>
	</body>
</html>